.contact-form{
    background: #000;
}
.form-control{
    display: flex;
    flex-direction: column;
}
.form-control input{
    height: 40px;
    padding: 0 10px;
    width: 100%;
}

.form-control textarea{
    height: 60px;
    padding: 0 10px;
    width: 100%;
}
