.main-banner {
  position: relative;
}
.offer-box {
  background-color: #850759;
  color: #fff;
  width: 400px;
  padding: 40px 30px;
  text-align: center;
  border: 8px solid #eee;
  font-family: 'Georgia', serif;
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
}

.offer-box h1 {
  font-size: 80px;
  margin: 0;
  font-weight: bold;
}

.offer-box h1 span {
  font-size: 40px;
}

.offer-box h3 {
  background: #fff;
  color: #a0005a;
  display: inline-block;
  padding: 8px 15px;
  margin: 20px 0 0 0;
  font-size: 18px;
  letter-spacing: 1px;
}

.offer-box .tagline {
  margin: 10px 0;
  font-size: 14px;
  letter-spacing: 1px;
}

.offer-box .desc {
  font-size: 12px;
  margin: 15px 0;
}

.offer-box .btn {
  display: inline-block;
  background: #fff;
  color: #a0005a;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 15px;
}
.offer-box .btn:hover{
 background-color: #ddd;
 color: #000;
}
.main-container{
  max-width:   1280px;
  margin: 45px auto;
}
.single-banner {
	position: relative;
	z-index: 1;
  overflow: hidden;
}
.single-banner:hover::before {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.single-banner::before {
	position: absolute;
	left: 35px;
	top: 30px;
	border: 13px solid #ffffff;
	content: "";
	opacity: 0.3;
	width: calc(100% - 70px);
	height: calc(100% - 60px);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.single-banner img {
	min-width: 100%;
}

.single-banner .inner-text {
	position: absolute;
	left: 0;
	top: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
}

.single-banner .inner-text h4 {
	color: #252525;
	font-weight: 700;
	padding: 11px 28px;
	background: #ffffff;
	border-radius: 2px;
}
.three-box-sec{
  text-align: center;
}
.three-box-sec h1{
  font-size: 45px;
  font-weight: 400;
  color: #000;
}
.grid-box{
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: space-between;
  margin-top: 25px;
}